.carousel-circles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 1rem;

  svg {
    width: 1rem;
    height: 1rem;

    color: #fff3;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    &:hover,
    &.active {
      transition: color 0.3s ease-in-out;
      color: #fffb;
    }
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}
