// Brand Colors
$brand-blue: #0089ed;
$brand-orange: #ff7f34;
$sky-blue: #f6fbfc;

// Text Colors
$gray-1: #fdfdfd;
$gray-3: #e5e5e5;
$gray-4: #b7b7b8;

// Background Colors
$brand-blue-0: #e6f9ff;
$brand-blue-1: #a3e5ff;
$brand-blue-2: #7ad5ff;
$brand-blue-3: #52c2ff;
$brand-blue-4: #28a9fa;
$brand-blue-5: #0089ed;
$brand-blue-6: #006dc7;
$brand-blue-7: #0053a1;
$brand-blue-8: #003b7a;
$brand-blue-9: #002654;
$brand-orange-0: #fff8f0;
$brand-orange-1: #ffebd6;
$brand-orange-2: #ffd3ad;
$brand-orange-3: #ffba85;
$brand-orange-4: #ff9d5c;
$brand-orange-5: #ff7f34;
$brand-orange-hover: #e45c18;
$brand-orange-6: #cb450c;
$brand-orange-7: #b34212;
$brand-orange-8: #8c2b07;
$brand-orange-9: #661b04;
