@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.label {
  font-family: $mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2rem;
  color: $gray-7;
  .require {
    color: $dust-red;
    margin-right: 4px;
  }
  .optional {
    margin-left: 5px;
    font-family: $mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2rem;
    color: $gray-5;
  }
}
